<div class="container">

  <div>
    <acme-navbar activetab="'placesmap'" locationwatch="map.watchMap" languageoption="map.language" language-change="map.changeLanguage()"></acme-navbar>
  </div>

  <div class="jumbotron">
  <leaflet ng-if="markers" markers="markers" center="center" height="80vh" width="100%"></leaflet>
    <div class="alert alert-info textCenter" ng-if="!markers && !map.locationeError">Finding your location <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> </div>
    <div class="alert alert-danger textCenter" ng-if="!markers && map.locationeError">{{map.locationeError}}</div>
  </div>
</div>
