<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="placesnear" ng-click="navController.cancelWatch()" aria-label="Home page"><img src="assets/images/logo.png" alt="Mapclopedia"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-options"
              ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  ui-sref="instructions">
        <div class="logo"></div>
      </a>
    </div>

    <div class="collapse navbar-collapse" collapse="isCollapsed" role="button" id="navbar-options">
      <ul class="nav navbar-nav">
        <li ng-class="{'active':activetab=='placesnear'}"><a ng-click="navController.cancelWatch()" ui-sref="placesnear" class="moduleLink">Places near</a></li>
        <li ng-class="{'active':activetab=='placesmap'}"><a ng-click="navController.cancelWatch()" ui-sref="placesmap" class="moduleLink">Map</a></li>
      </ul>
      <form class="form-inline languageForm" ng-if="navController.online">
        <div class="form-group">
          <label for="setlanguage">Language:</label>
          <select ng-model="languageoption.val" ng-change="languageChange()" id="setlanguage" class="form-control"><option value="en">English</option><option value="es">Español</option></select>
        </div>
      </form>
    </div>
  </div>

</nav>
