<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="home" aria-label="Home page"><img src="assets/images/logo.png" alt="Mapclopedia"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-login"
              ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  ui-sref="instructions">
        <div class="logo"></div>
      </a>
    </div>

    <div class="collapse navbar-collapse" collapse="isCollapsed" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">

        <li ng-class="{'active':activetab=='placesnear'}"><a ui-sref="placesnear">Places near</a></li>
        <li ng-class="{'active':activetab=='placesmap'}"><a ui-sref="placesmap">Map</a></li>
      </ul>

    </div>
  </div>

</nav>
